@use 'variables' as *;
@use 'mixins' as *;
@use 'components/form';
@use 'components/modal';
@use 'components/article';

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: $text-color;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}
